In [19]:
print('helloworld')

helloworld

In [20]:
#this is a comment
print(10)  #this is a comment

#this is a comment
#this is a comment

#comments are not executed by the python interpreter

10

In [23]:
total = 10+10

print(total)

20

In [26]:
number1=10
number2=20

print(number1)
print(number2)

10
20

In [27]:
#Data types

#integers
x=10
x=1000000
x=0
x=-1000

#float
x=10.5
x=23.302904
x=-23.55
x=-1000.00


#string
name = 'Tom'
address='123 Main St, ebene mauritius'
x='A'
y="^%&%*())(*&^%swfewhj287)"
number="55"


#boolean
married=False
married=True

In [ ]:
name='Paul'
# 2name="paul" #variable names cannot start with a number or symbol
name2='Paul' #variable names can start with a letter but can contain numbers
na2me='Eric'

name_2='Paul' #variable names can contain underscore but not other symbols

#first name='Paul' #variable names cannot contain spaces
first_name='Paul'
firstName='Paul'

#Name='Jack' #variable names are case sensitive but should not start with upperclasses

In [30]:
#convert/cast data types

numbers='55'
numbers=int(numbers)
print(numbers)

55

In [32]:
#input
name = input('Enter your name: ')

print(name)

eric

In [34]:
age=input('Enter your age: ')
print(age)

age=int(age)

20

In [39]:
name='Tom'
age=20

print(name)
print(age)

print('My name is ',name) #concatenate string with variable
print('My age is ',age)

print('My name is ',name," and I am ",age," years old")

Tom
20
My name is  Tom
My age is  20
My name is  Tom  and I am  20  years old

In [40]:
#string formatting/interpolation
name='Tom'
age=20

print("My name is {} and I am {} years old".format(name,age))

My name is Tom and I am 20 years old

In [41]:
#f-string
name='Tom'
age=20

print(f"My name is {name} and I am {age} years old")

My name is Tom and I am 20 years old

In [42]:
num1=2
num2=5

total=num1+num2 #addition
print(f"The sum of {num1} and {num2} is {total}")

The sum of 2 and 5 is 7

In [43]:
num1=5
num2=2

print(num1+num2) #addition  
print(num1-num2) #subtraction
print(num1*num2) #multiplication
print(num1/num2) #division
print(num1//num2) #floor division
print(num1%num2) #modulus
print(num1**num2) #exponent

7
3
10
2.5
2
1
25

In [48]:
num1=5
num2=2

print(num1==num2)
print(num1>num2)

False
True

In [49]:
x=10

x=x+1
print(x)

11

In [50]:
x=10
x+=1
print(x)

11

In [51]:
y=10
y-=2
print(y)

8