In [1]:
#basic data types
#integer
#string
#float
#boolean

name="tom"
name="paul"

print(name)

paul

In [ ]:
#advanced data structures
#list
#dictionary
#tuple
#set

In [ ]:
#std variables
mark1=10
mark2=20
mark3=30
mark4=40

In [2]:
#lists

marks=[] #empty list

# marks=[10]
# marks=[10,20]
# marks=[10,20,30]
marks=[10,20,30,40]  #define a list

print(marks)

[10, 20, 30, 40]

In [3]:
#define a list with 5 names
names=["tom","paul","jane","mary","john"]
print(names)

['tom', 'paul', 'jane', 'mary', 'john']

In [5]:
colours=["red","green","blue","yellow","black"]
print(colours)

#access an element in a list

print(colours[0])
print(colours[2])
print(colours[4])

['red', 'green', 'blue', 'yellow', 'black']
red
blue
black

In [7]:
#circular indexing
names=["tom","paul","jane","mary","john"]

print(names[0])
print(names[-1])

tom
john

In [11]:
#lists can store any data type

student=['Tom',15, 'Curepipe',False, 80]
print(student)


print(student[4])

age=student[1]
print(age)

print(f'{student[0]} is {student[1]} years old. He lives at {student[2]}. His average score is {student[4]}')

['Tom', 15, 'Curepipe', False, 80]
80
15
Tom is 15 years old. He lives at Curepipe. His average score is 80

In [17]:
marks=[60,80,90,50,55]
print(marks)


#modify a list using the index
marks[0]=70
print(marks)

marks[4]=100
print(marks)

[60, 80, 90, 50, 55]
[70, 80, 90, 50, 55]
[70, 80, 90, 50, 100]

In [22]:
# add new elements to a list

cars=[] #empty list
print(cars)

cars.append("Toyota")  #add an element to the list (at the end of the list)
print(cars)

cars.append("Honda")
print(cars)

cars.append("BMW")
print(cars)

[]
['Toyota']
['Toyota', 'Honda']
['Toyota', 'Honda', 'BMW']

In [24]:
#remove elements from list

colours=["red","green","blue","yellow","black"]
colours.remove('black') #remove an element from the list
print(colours)

['red', 'green', 'blue', 'yellow']

In [26]:
names=["tom","paul","jane","mary","john"]
print( len(names) )

5

In [28]:
#lists use the principle - LIFO (Last In First Out)
names=["tom","paul","jane","mary","john"]
print(names)
removed_name=names.pop() #remove one element from the list
print(names)

print(removed_name)

['tom', 'paul', 'jane', 'mary', 'john']
['tom', 'paul', 'jane', 'mary']
john

In [30]:
#iterate through a list

names=["tom","paul","jane","mary","john"]

print(names)

for name in names:
    print(name)

['tom', 'paul', 'jane', 'mary', 'john']
tom
paul
jane
mary
john

In [31]:
marks=[60,80,90,50,55]
#calculate the average marks

total=0
for mark in marks:
    total=total+mark

average=total/len(marks)
print(f'The average marks is {average}')

The average marks is 67.0

In [34]:
#2d lists
students=[ ['tom',15], ['paul',16], ['jane',17] ]

#access the first sublist/student
student=students[0]
print(student)

#access the first element of the first sublist
print(students[0][0])
print(students[0][1])

#access jane
print(students[2][0])

['tom', 15]
tom
15
jane

In [43]:
#exercise
fruits=[]

fruits.append('apple')
fruits.append('banana')
fruits.append('orange')

print(fruits)

print(len(fruits))
print(fruits[1])
fruits[1]='grape'
print(fruits)


for fruit in fruits:
    print(fruit)

fruits.pop()
print(fruits)

['apple', 'banana', 'orange']
3
banana
['apple', 'grape', 'orange']
apple
grape
orange
['apple', 'grape']

In [49]:
#tuples
#tuples are immutable

student=('Tom',15, 'Curepipe',False, 80) #to define a tuple using () instead []
print(student)
print(student[0])
print(student[4])
print(len(student))

('Tom', 15, 'Curepipe', False, 80)
Tom
80
5

In [47]:
student.append(100) #error because tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
student[0]='Paul' #error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [50]:
for item in student:
    print(item)

Tom
15
Curepipe
False
80

In [51]:
#a list can store dulicat values
marks=[0,0,10,10,10]
print(marks)

[0, 0, 10, 10, 10]

In [52]:
#sets
nums={0,1,2,3,4}
print(nums)

{0, 1, 2, 3, 4}

In [53]:
print(len(nums))

5

In [54]:
print(nums[0]) #error because sets are unordered

TypeError: 'set' object is not subscriptable

In [56]:
#add elements to a set
print(nums)
nums.add(5)
print(nums)

{0, 1, 2, 3, 4, 7}
{0, 1, 2, 3, 4, 5, 7}

In [57]:
#remove elements from a set
numbers={1,2,3,4,5}
numbers.remove(1)
print(numbers)

{2, 3, 4, 5}

In [58]:
for num in numbers:
    print(num)

2
3
4
5

In [60]:
nums={0,0,0,0,1,1,1,2,2} #sets do not store duplicate values
print(nums)

{0, 1, 2}

In [62]:
num1={1,2,3,4,5}
num2={4,5,6,7,8}

#union
result=num1.union(num2)
print(result)

#intersection
result=num1.intersection(num2)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

In [64]:
#dictionaries
#dictionaries store key-value pairs

#defining a dictionary
student={
    'name': 'Tom',
    'age': 15,
    'address': 'Curepipe',
    'is_registered': False,
    'average_score': 80
}

print(student)

{'name': 'Tom', 'age': 15, 'address': 'Curepipe', 'is_registered': False, 'average_score': 80}

In [66]:
#access elements in a dictionary using the key
print(student['name'])
print(student['average_score'])

Tom
80

In [67]:
#update a value in a dictionary
student['is_registered']=True
print(student)

{'name': 'Tom', 'age': 15, 'address': 'Curepipe', 'is_registered': True, 'average_score': 80}

In [68]:
#add new key-value pairs
student['class']='Form 3'
print(student)

{'name': 'Tom', 'age': 15, 'address': 'Curepipe', 'is_registered': True, 'average_score': 80, 'class': 'Form 3'}

In [70]:
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'address', 'is_registered', 'average_score', 'class'])
dict_values(['Tom', 15, 'Curepipe', True, 80, 'Form 3'])

In [72]:
#iterate through a dictionary and print key-value pairs
for key,value in student.items():
    print(key,value)

name Tom
age 15
address Curepipe
is_registered True
average_score 80
class Form 3

In [ ]:
#remove an element from a dictionary
student.pop('class')
print(student)